/* Import font from google */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/*Indicado colocar isso em qualquer trabalho css*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   width: 100%;
   background-color: rgb(200,200,200);
   font-family: sans-serif;
   margin: 0;
   padding: 0;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Open Sans', sans-serif;
}
#topo, #menu,.destaques, section{
   width: 100%;
   margin:0 auto;
}
/*******************************************TOPO*******************************************/
#topo h1{
   padding: 20px 0;
}
#topo h2{
   display: none;
}
/*******************************************MENU*******************************************/
#menu li{
   display:inline;
   margin: 5px;
}
#menu ul{
   width: 80%;
   margin: 0 auto;
   padding-bottom: 20px;
   text-align: center;
   text-decoration: none;
}
#menu a:link{
   color: #767873;
}
#menu a:hover{
   color: #141F00;
}
/*******************************************DESTAQUES*******************************************/
.destaques h2{
   text-align: center;
}
.destaques li{
   width: 100%;
   float: left;
   text-align: center;
   list-style: none;
   padding: 20px 0;
}
.destaques li:hover{
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   transform: scale(1.1);
   -webkit-transition:all 500ms linear;
   -moz-transition:all 500ms linear;
   transition:all 500ms linear;
}
.destaques li strong{
   width: 100%;
   display: block;
}
.center{
   text-align: center;
}
table, tr, td{
   border: 1px solid #000;
}
table{
   background-color: #ddd;
}
form fieldset{
   border: none;
}
form legend{
   text-transform: uppercase;
   font-size: 1.2em;
   padding: 0;
   width: 100%;
   border-bottom: 1px solid #555;
}
form label, form input:not([type=checkbox]), form select, form textarea{
   width: 100%;
}
form div{
   width: 48%;
   margin: 0 1%;
   height: 180px;
   float: left;
}
button{
   padding: 10px 20px;
   background-color: blue;
   color: #fff;
   border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
/*******************************************FOOTER*******************************************/
#rodape{
   width: 100%;
   background-color: #333;
   color: #ccc;
   float: left;
   text-align: center;
}
p{
   margin-top: 20px;
   margin-bottom: 20px;
}
/*******************************************MEDIA QUERY*******************************************/
@media (min-width: 576px){
   /*******************************************TOPO*******************************************/
   #topo h1{
      animation:introducao 2s linear infinite alternate;
      -webkit-animation:introducao 2s linear infinite alternate;
      -moz-animation:introducao 2s linear infinite alternate;
   }
   @-webkit-keyframes introducao{
      0%{color: red; -webkit-transform:rotate(0deg);}
      25%{color: blue; -webkit-transform:rotate(5deg) scale(1.2);}
      50%{color: green; -webkit-transform:rotate(0deg);}
      75%{color: purple; -webkit-transform:rotate(-5deg) scale(1.2);}
      100%{color: red; -webkit-transform:rotate(0deg);}
   }
   @keyframes introducao{
      0%{color: red; -webkit-transform:rotate(0deg);}
      25%{color: blue; -webkit-transform:rotate(5deg) scale(1.2);}
      50%{color: green; -webkit-transform:rotate(0deg);}
      75%{color: purple; -webkit-transform:rotate(-5deg) scale(1.2);}
      100%{color: red; -webkit-transform:rotate(0deg);}
   }
   #topo h2{
      display: block;
      font-size: 1.2em;
      padding: 25px 0;
   }
   /*******************************************DESTAQUE*******************************************/
   .destaques li{
      width: 50%;
      float: left;
      text-align: center;
      list-style: none;
      padding: 20px 0;
   }
}